Source: deep-actions-experimental
Section: misc
Priority: optional
Maintainer: swayampakulavsspavanakasinadhsarma <exploit0xffff@gmail.com>
Build-Depends: debhelper-compat (= 13), python3, python3-opencv, python3-numpy, python3-torch, python3-torchvision, python3-gi, gir1.2-gtk-4.0

Package: deep-actions-experimental
Version: 1.0
Architecture: all
Depends: python3, python3-opencv, python3-numpy, python3-torch, python3-torchvision, python3-gi, gir1.2-gtk-4.0
Description: Alpha version of Deep Actions Experimental
 This is the alpha version of the Deep Actions Experimental application. It performs object detection using the Faster R-CNN model and provides a graphical user interface for capturing images or videos. The application requires OpenCV, NumPy, Torch, and Gtk libraries for operation.
